<div class="position-fixed top-0 end-0 h-100 d-flex flex-column justify-content-evenly align-items-center p-3">
    <nav class="d-flex flex-column justify-content-evenly">
        <a href=""><i class="bi bi-house-door-fill fs-1"></i></a>
        <a href="search"><i class="bi bi-search fs-1"></i></a>
        <a href="new"><i class="bi bi-plus fs-1"></i></a>
        <a href="likes"><i class="bi bi-heart fs-1"></i></a> 
        <a href=''><i class="bi bi-person-circle fs-1"></i></a>
    </nav>
</div>
